


<nav>

 <div class="nav-wrapper grey darken-4">
   <ul class="right hide-on-med-and-down">
     <li> {{today | date:'short'}}  </li>
     
        <li>
        
        <a href="/"><i class="material-icons "> power_settings_new</i></a></li>
      
   </ul>
    
      <ul class="left hide-on-med-and-down">
        <li><a (click)="reload()" [routerLink]="['./dashboard']" routerLinkActive="active">
    Dashboard
  </a></li>
        <li >  <a (click)="reload()" [routerLink]="['./formateurs']" routerLinkActive="active">
     Formateurs
  </a></li>
        <li> <a (click)="reload()" [routerLink]="['./participants']" routerLinkActive="active">
 Participants 
  </a> </li>
 <li>  <a (click)="reload()" routerLink="./adminlist" routerLinkActive="active" >
          Sessions
  </a> </li>
      </ul>
    </div>
  
</nav>

<router-outlet> </router-outlet> 

 

