<header> 
  <h2> Ajouter une session de formation </h2>
</header >
<form  #f="ngForm"
(ngSubmit)="onSubmit(f)">
  <ul>
    <li>
      <label for="name" > Name </label>
      <select name="name" id="name" [ngModel]="name2" required >
        <option value="Formation Web" > Web </option>
        <option value="Formation Mobile" > Mobile </option>
      </select>
    
    </li>
    <li>
      <label for="track"> Track </label>
      <select name="track" id="track" [(ngModel)]="track" required > 
        <option value="MEAN" > MEAN Stack </option>
        <option value="Angular"> Angular </option>
        <option value="Angular"> NodeJS </option>
      </select>
         
    </li>
    <i>
      <label for="date" > Date </label>
      <input type="Date" name="Date" id="date"  ngModel  >
      
      <label for="duree" > Days </label>
      <input type="number" name="duree" id="duree" ngModel >
    </i>
    <i>
      <label for="local" > Location </label>
      <input type="text" name="local" id="local" required ngModel >
    </i>
    <i> 
      <label for="participants" > Participants </label>
      <input type="number" name="participants" id="participants" required ngModel>
       
    </i>
  </ul>
    <button type="submit" [disabled]=!f.valid> Save </button>
  
</form>
  
