

 <div class="fixed-action-btn horizontal click-to-toggle">
    <a class="btn-floating btn-large red">
      <i class="material-icons">menu</i>
    </a>
    <ul>
      <li><a (click)="reload()" routerLink="../add"  class="btn-floating yellow darken-1"><i class="material-icons">playlist_add</i></a></li>
      <li><a (click)="reload()" routerLink="../edit/5a55768dd0416a3c24c1dcdd"  class="btn-floating green"><i class="material-icons">edit</i></a></li>
      <li><a (click)="reload()" routerLink="./adminlist" class="btn-floating blue"><i class="material-icons">playlist_add_check</i></a></li>
    </ul>
  </div>
<section>
  
 
  <app-admin-session-item *ngFor="let sessionItem of sessionItems" 
  [session]="sessionItem"
   [ngClass]="{'session-web': sessionItem.name ==='Formation Web',  
  'session-mobile': sessionItem.name === 'Formation Mobile'}"> 
  </app-admin-session-item>  

  

</section>  
<router-outlet> </router-outlet>


