  
   <!-- <p> test {{ formateur | json  }}</p>   -->
     <span class="card-title">
                <h1 class='longshadow'> {{formateur[0]['name']}} </h1></span>  
 <div class="row">
        
    <div class="col s12 m5">
          <div class="card">
            <div class="card-image">
              <img src="https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/1412243/1160/772/m1/fpnw/wm0/lawyer-avatar-flat-icon-01-.jpg?1467280299&s=d7eb6ecfdcefaea78ca2cef1143c9dde">
              
            </div>
              <div class="card-content ">
              <span class="card-title">Reviews</span>
              <p>This section is for users'reviews 
             </p>
            </div>
          </div>
          </div>
             <div class="col s4 m7">
            <div class="card ">
            <div class="card-content ">
          
              <p>
                Ceci est une description du formateur 
              </p>
              <hr>
              <h5>Note :  </h5> {{formateur[0]['note']}}/10 
            </div>
             
          
          </div>
          
         
          </div>  
            <div class="col s4 m7">
            <div class="card ">
            <div class="card-content ">
          
              <p>
                Informations Formateur:  
              </p>
              <hr>
               <i class="material-icons">phone </i> : 20 20 20 20 
               <tr> 
               <i class="material-icons">email</i> : azerty@gmail.com 
               </tr>
                     <tr> 
               <i class="material-icons">business_center</i>: compétences : stack 1 , stack 2
                     </tr> 
            </div>
             
          
          </div>
          
         
          </div>

