<!-- <div class="row">  
<a> <div class="col s12 m4">
    <h2 class="header">Horizontal Card</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lorempixel.com/100/190/nature/6">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div> </a>
    <div class="col s12 m4">
    <h2 class="header">Horizontal Card</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lorempixel.com/100/190/nature/6">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
   <div class="col s12 m4">
    <h2 class="header">Horizontal Card</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lorempixel.com/100/190/nature/6">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="row">
      <a (click)=" reload()" routerLink="../adminlist" class="card-block clearfix"> <div class="col s12 m4">
         <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s7">
              <img src="assets/sessions.png" class="icon"> 
            </div>
            <div class="col s5">
              <span class="black-text">
                <h2> {{sizeSessions}} </h2> 
                <h5> sessions </h5>
              </span>
            </div>
          </div>
        </div> 
      </div> </a>
          <a (click)=" reload()" routerLink="../formateurs" class="card-block clearfix"> <div class="col s12 m4">
         <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s7">
 <img src="assets/formateurs.png" class="icon">             </div>
            <div class="col s5">
              <span class="black-text">
                  <h2> {{sizeFormateurs}} </h2> 
                <h5> formateurs </h5>
              </span>
            </div>
          </div>
        </div> 
      </div> </a>
          <a  (click)=" reload()" routerLink="../participants" class="card-block clearfix"> <div class="col s12 m4">
         <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s7">
 <img src="assets/participants.png" class="icon">             </div>
            <div class="col s5">
              <span class="black-text">
                 <h2> {{sizeParticipants}} </h2> 
                <h5> participants </h5>
              </span>
            </div>
          </div>
        </div> 
      </div> </a>
</div>
    <div class="row"> 
      <div class="col s3">
    <ul class="collection with-header">
        <li class="collection-header"><h4>Top formateurs</h4></li>

        <a  class="collection-item ">{{formateurs[0]['name']}}
            <a  class="secondary-content"><i >{{formateurs[0]['note']}}/10</i></a>
        </a>
        <a  class="collection-item">{{formateurs[1]['name']}}
            <a  class="secondary-content"><i >{{formateurs[1]['note']}}/10</i></a>
        </a>
        <a  class="collection-item">{{formateurs[2]['name']}}
            <a  class="secondary-content"><i >{{formateurs[2]['note']}}/10</i></a>
        </a>
   
      </ul>
      </div>

      <div class="col s3">
              <ul class="collection with-header">
        <li class="collection-header"><h4>Liste de tracks</h4></li>
        <li class="collection-item"><div>track 1<a  class="secondary-content"><i >{{track1}} session(s)</i></a></div></li>
        <li class="collection-item"><div>track 2<a class="secondary-content"><i >{{track2}}session(s)</i></a></div></li>
        <li class="collection-item"><div>track 3<a  class="secondary-content"><i>{{track3}}session(s)</i></a></div></li>
      </ul>
      </div>
    </div>