<div class="container" >
<header> 
  <h2> Modifier une session de formation </h2>
</header >

<div cass="container">
<form  #f="ngForm"
(ngSubmit)="onSubmit(f)">
  <ul>
    <li>
      
      <label for="name" > Name </label>
      <!-- <select name="name" id="name" [(ngModel)]=session.name required >
        <option value="Formation Web" > Web </option>
        <option value="Formation Mobile" > Mobile </option>
        
      </select> -->
            <input type="text" name="name" id="name" required [(ngModel)]='session[0]["name"]' >

   
    </li>
    <li>
      <label for="track"> Track </label>
      <!-- <select name="track" id="track" [(ngModel)]=session.track required > 
        <option value="MEAN Stack" > MEAN Stack </option>
        <option value="Angular"> Angular </option>
        <option value="NodeJS"> NodeJS </option>
      </select> -->
            <input type="text"  name="track" id="track" required [(ngModel)]='session[0]["track"]'>

       
    </li>
          <li>
    <span>
      <label for="date" > Date </label>
      <input type="date | date" name="date" id="date"  [(ngModel)]='session[0]["date"]'  >
    </span>
          </li>
    <span>
      <label for="duree" > Days </label>
      <input type="number"  name="duree" id="duree" [(ngModel)]='session[0]["duree"]' >
    </span>
    <i>
      <label for="local" > Location </label>
      <input type="text" name="local" id="local" required [(ngModel)]='session[0]["adress"]'>
    </i>
    <i> 
      <label for="participants" > Participants </label>
      <input type="number" name="participants" id="participants" required [(ngModel)]='session[0]["participants"]'>
    </i>
  </ul>
    <button type="submit" [disabled]=!f.valid> Save </button>
  
</form>
  <div>
   <div class="fixed-action-btn horizontal click-to-toggle">
    <a class="btn-floating btn-large red">
      <i class="material-icons">menu</i>
    </a>
    <ul>
      <li><a (click)="reload()" routerLink="/admin/add"  class="btn-floating yellow darken-1"><i class="material-icons">playlist_add</i></a></li>
      <li><a (click)="reload()"  routerLink="/admin/edit/5a29f18a4fa7832140c69716"  class="btn-floating green"><i class="material-icons">edit</i></a></li>
      <li><a (click)="reload()" routerLink="/admin/adminlist" class="btn-floating blue"><i class="material-icons">playlist_add_check</i></a></li>
    </ul>
</div>
  
  